*,
::before,
::after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

html {
  --primary-color: #0d959e;
  --primary-foreground-color: #fafafa;
  --bg-color: white;
  --bg-hover-color: #f2f2f2;
  --text-color: #333;
  --muted-color: #d3d3d3;
  --muted-foreground-color: #71717a;
  --border-color: #e5e7eb;
  --shadow-color: rgba(13, 149, 158, 0.2);
}

html.dark {
  --primary-color: #fafafa;
  --primary-foreground-color: #0d959e;
  --bg-color: #191f2d;
  --bg-hover-color: #2f3640;
  --text-color: #e9e9ea;
  --muted-color: #97979e;
  --muted-foreground-color: #71717a;
  --border-color: #2f3640;
  --shadow-color: rgba(13, 149, 158, 0.2);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
